<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.solution_challenge_2022.findit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!--
 This tag indicates that this application requires ARCore.  This results in the application
      only being visible in the Google Play Store on devices that support ARCore.
    -->
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:name=".findit_feature.presentation.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FindIt">
        <activity
            android:name=".findit_feature.presentation.campus_info.ui.destination.DestinationSearchActivity"
            android:exported="false" />
        <activity
            android:name=".findit_feature.presentation.campus_info.ui.building_detail.BuildingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".findit_feature.presentation.campus_info.ui.full_map.FullMapActivity"
            android:exported="false" />
        <activity android:name=".findit_feature.presentation.ar_map.ArMapActivity" />
        <activity
            android:name=".findit_feature.presentation.campus_info.CampusInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_qr_scanner"
            android:theme="@style/Theme.FindIt.NoActionBar" />
        <activity
            android:name=".findit_feature.presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>